<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD me.Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.springbootmybatis.mapper.usermapper">
    <!--parameterType="int" resultType="my/dao/Userdao.java"-->
    <!--<select id="getUserList" resultType="my.pojo.User">
        SELECT * FROM user1;
    </select>
    <select id="getUserById" parameterType="String" resultType="my.pojo.User">
        SELECT * FROM user1 where id = #{id};
    </select>
    <insert id="addUser" parameterType="my.pojo.User"  >
        insert into user1(id,name,pwd,age) values(#{id},#{name},#{pwd},#{age});
    </insert>
    <insert id="addUser2" parameterType="map"  >
        insert into user1(id,name,pwd,age) values(#{id},#{name},#{pwd},#{age});
    </insert>
    <update id="upDateUser" parameterType="my.pojo.User" >
        update user1 set name =#{name } ,pwd = #{pwd} , id = #{id} where age = #{age};
    </update>
    <delete id="d" parameterType="String" >
        delete from user1 where id=#{id};
    </delete>
    <select id="ById" parameterType="map" resultType="my.pojo.User">
        SELECT * FROM user1 where id = #{id};
    </select>
    <select id="getUserLike"  resultType="my.pojo.User">
        SELECT * FROM user1 where name like #{v};
    </select>
    <select id="duo"  resultMap="ut">
        SELECT * FROM user1
    </select>
    <resultMap id="ut" type="my.pojo.User">
        <association property="tch" column="tid" javaType="my.pojo.tch" select="gettch"></association>
    </resultMap>
    <select id="gettch"  resultType="my.pojo.tch">
        SELECT * FROM teacher where tid = #{tid};
    </select>-->
    <select id="queryuserlist" resultType="user">
        select * from user11;
    </select>
    <select id="queryuserbyid" resultType="user">
        select * from user11 where id = #{id};
    </select>
    <insert id="addUser" parameterType="user"  >
        insert into user11(id,name,password) values(#{id},#{name},#{password};
    </insert>
    <delete id="deleteuser" parameterType="int">
        delete from user11 where id=#{id};
    </delete>
    <update id="updateuser" parameterType="user">
        update user11 set name =#{name},password=#{password},where id = #{id}
    </update>

</mapper>